

/* CSS for Navbar */
body nav ul li img{
    width: 75px;
    height: 55px;
    float: left;
}
nav {
    border-radius: 20px;
    margin-bottom: 6rem;
    font-family: 'Courier New', Courier, monospace;
}

div{
    width: 1310px;
    padding: 10px;
    margin: 0; 
    text-align:justify;
    border-radius: 20px;
}
ul {
    width: 1536px;
    align-items: baseline;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}

/* Video */

/* Grid for Photos */
.grid{
    display: grid;
    grid-row: 1fr [one] 1fr[two] 1fr[three] 1fr[four] 1fr[five];
    grid-column: 1fr[first] 1fr[second] 1fr[third] 1fr[fourth] 1fr[fifth];

}