body{
    display: flex;
    margin: 0 auto;
    background-image: url(images/pexels-pixabay-326333.jpg);
    min-height: 100vh;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #000000;
  }
  
nav {
    margin-bottom: 6rem;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    width: 1536px;
    align-items: baseline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: orange;
  }

  .topnav a.active {
    background-color: steelblue;
    color: white;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  

li {
    float: left;
    top: auto;
    left: auto;
}

li a {
    align-items: center;
    justify-content: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
@font-face {
    font-family: Megdira;
    src: url(./Medgira.otf/)
}


.the_first_image{
    height: 20px;
    width: 20px;
}



/* im not actually sure what this does but W3 schools said it was important so i put it here at the bottom */
/* will add this to all the other nav bars */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid white;
    }
  }

  .topnav .search-container {
    float: right;
  }

  .topnav .search-container button:hover {
    background: white;
  }

  .topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .logo1{
    transform: translate(350px, -114.5px);
  }

 h1{
    margin-left: auto;
    color: antiquewhite;
    top: 50px;
    text-align:center;
    font-size: 50px;
    transform: translate(-100px , -100px);
 }

 .p{
    display: flex;
    margin-left: auto;
    color: antiquewhite;
    top: 50px;
    text-align: left;
    font-size: 25px;
    transform: translate(-640px, -270px);
 }

 p{
  display: flex;
  margin-left: auto;
  color: antiquewhite;
  top: 50px;
  text-align: left;
  font-size: 25px;
  
}

 html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  align-items: baseline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.email:hover{
  background-color: #ddd;
    color: orange;
}
